.gradient-background {
    background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
}

.profile {
    margin-bottom: 20px;
    padding: 20px;
}

.profile-imagem {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

}

.profile-img {
    width: 150%;
    height: 150%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;

}

/* Gradiente na parte inferior */
.profile-imagem::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 20%;
    bottom: -40px;
    left: -20px;
    background: linear-gradient(to top, var(--primary-color), var(--secondary-color));
    filter: blur(10px);
    opacity: 1.9;
    pointer-events: none;
}

.profile-info {
    position: relative;
    left: 50%;
    transform: translate(-50%, -23%);
    margin: 0;
    color: white;
    z-index: 2;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
}

.profile-info-nome {

    font-family: "Hurricane", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    margin: 0;
    color: white;
    margin-bottom: -30px;
    white-space: nowrap;
    position: relative;
    left: 45%;
    transform: translateX(-50%);


}

.profile-info-rede-social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.profile-info-rede-social a {
    font-size: 40px;
    color: var(--secondary-text-color);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.profile-info-rede-social a:hover {
    transform: scale(1.2);
    color: var(--hover-color);
}


.profile-info-links a {
    display: block;
    background: var(--secondary-text-color);
    color: var(--hover-color);
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

}

.profile-info-links a:hover {
    background: var(--hover-color);
    color: var(--secondary-text-color);
}